<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.biologyera.mapper.Masterpiece.MasterpieceMapper">

  <insert id="saveMasterpieceInfo">
    INSERT INTO masterpiece_info(person_id, out_url) VALUES
      (#{personId,jdbcType=BIGINT},#{outputUrl,jdbcType=VARCHAR})
  </insert>

  <select id="get3DModelById" resultType="java.lang.String">
    select out_url from masterpiece_info where person_id = #{personId,jdbcType=BIGINT}
  </select>
</mapper>